/* Elementos gerais =============================================== */
* {
  margin: 0 ;
  padding: 0; 
  font-family: 'Carpet', cursiva;
  
}


body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* propriedade que impede oque transborda do body de aparecer */

}


a{
  color: black;
  text-decoration:none;
  transition: 0.3s;
}

a:hover{
  opacity: 0.7;
  text-decoration: none;
  color: white;
}

nav{
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: fixed; 
}

.logo{
  /* background: url("../img/Logo etec invert.jpg") no-repeat 
     center center;*/
  /* font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px; */
  width: 70px;
  height: 70px ;
  display: flex;
}

.logo  img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav-list {
  list-style: none;
  display: flex;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu{
  cursor: pointer;
  display: none;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s; 
}

@media (max-width: 999px) {
  .nav-list{
    position:fixed;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    /* background:white; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .nav-list li{
    margin-left: 0;
    /* opacity: 0; */
  }
  .mobile-menu{
    display: block;
  }
}
  .nav-list.active{
    transform: translateX(0);
  }

@keyframes navLinkFade {
from {
  opacity: 0;
  transform: translateX(50px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
} 

.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
opacity: 0;
}


.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-5px, -7px);
}

  /* começo da página ============================================================================== */

  h1{
   color: #f9f6ec;
   transition: 0.3s;
   font-family: 'Birds';
  }

  h1:hover{
    animation: letter 2s;
  }

  .h1-index{
   font-size: 3rem;
   color: #fbebaf;
  }
  h3{
    color:  #f9f6ec;
}

.slider{
  margin: 0 auto;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s; /*  tempo de transição e animação para cada slide */
}

.slide img{
  width: 100vw;
  height: 100vh;
}


.manual-navigation{
position:absolute;
width: 100vw; /* last change of size */
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;

}


/* passagem de slides com base no slide-first */
#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

/* ================================================== */
.navigation-auto div{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px ;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position:absolute;
  width: 100vw;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

/* Manter botão com cor de fundo quando clicado */
#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn4{
  background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: white;
}

/* Separação de página ================================================ */

.body-page{
   background: url("../Assets/Quadro coração.jpg") no-repeat center center;
  background-size:cover; 
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: column; /*direcionamento da propriedade flex */
  align-items: center; /*alinhar no eixo x */
  justify-content: center; /*alinhar no eixo y */
  
}/*possível deletar */


.container{
  margin: 10px;
  width: 80vw;
  height: 80vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aqua;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212); */
}


.container2{
  margin: 10px;
  width: 80vw;
  height: 80vh;
  border-radius: 30px;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items: center;
  background-color: aqua;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212); */
}

.container2 a{
 display:flex; 
  margin: 5px;
  width: 20%;
  height: 20%;
}

.container2 img{
  width: 100%;
  height: 100%;
}

/* .header{
  height: 10%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #26979f;
  padding: 3rem;
} */

.text{
  width: 40vw;
  justify-content: space-around;
  align-items: center;

}
.container-R{
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-R img{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* separação parte 2 da pagina */


.body-page2{
  background: url("../Assets/Fundo site.png") no-repeat center center;
  background-size:cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: 'Carpet' ;
  src: url('../Fonts/LTCarpet.ttf')
  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Birds';
  src: url('../Fonts/Birds of Paradise.ttf')
  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes letter {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(20px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  